.App {
  --dark-color: #282b2d;
  --light-color: coral;

  --primary-rgb: 158, 15, 184; /* #9e0fb8 */
  --secondary-rgb: 5, 232, 255; /* #05e8ff */

  display: flex;
  flex-direction: column;

  height: 100vh;

  min-width: 400px;
  min-height: 600px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  color: var(light-color);
  background: linear-gradient(45deg, rgb(238, 238, 255), rgb(0, 17, 255));

    --main-color: rgb(104, 117, 217);
    --main-color-hover: rgb(104, 117, 217, 0.2);
    --track-color: #ddd;
    --mark-color: #aaaaaa;
  
  }

.app-body {
  display: flex;
}

.header {
  color: var(--light-color);
  background: var(--dark-color);
  padding: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.settings {
  color: var(--light-color);
  background: var(--dark-color);
  padding-left: 10px;
  min-width: 250px;

  display: flex;
  flex-direction: column;
}

.settings-btn {
  color: var(--light-color);
  background: var(--dark-color);
  cursor: pointer;
}

.sidebar {
  font-size: small;
  width: 150px;
  min-width: 150px;
  /*background: #282b2d;*/
  color: var(--dark-color);

  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--dark-color);
  padding-left: 5px;
}

.favs-filters {
  text-align: left;
  font-size: medium;
  padding-bottom: 20px;
  padding-top: 5px;
}

.collapsible {
  display: inline-flex;
  flex-direction: row;
}

.collapse-btn {
  height: max-content;
}

.favs-filters-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0px;
  padding-left: 20px;
  font-size: x-small;
  cursor: pointer;
}

.hide-filters {
  text-align: left;
  font-size: medium;
}

.hide-filters-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0px;
  padding-left: 20px;
  font-size: x-small;
  cursor: pointer;
}

/*********************************************************************/
/*********************************************************************/

.episode-area {
  display: flex;
  flex-direction: column; /* Set to column for vertical alignment */
}

.loading-area {
  flex-flow: row nowrap;
  min-width: 800px;
}

.fav-episode-area {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.fav-episode-area .episode-container {
  rotate: 5deg;
}

.oth-episode-area {
  display: flex;
  flex-flow: row wrap;
  /*max-width: 100vw;*/
  /*background-color: cornsilk;*/
  background: linear-gradient(0deg, rgb(238, 238, 255), rgb(0, 17, 255));
}

.episode-container {
  /*max-width: 125px;*/
  position: relative;
  z-index: 5;

  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}

.episode-container .thumbnail {
  max-width: 100%;
}

.episode-thumbnail-link {
  font-size: 0;
}

/* when hovering over episode-container, override these properties of episode-details */
.episode-container:hover .episode-details {
  opacity: 1;
}

.episode-details {
  display: flex;
  flex-flow: column nowrap;

  width: calc(100% - 10px);
  font-size: small;

  background-color: burlywood;
  border-radius: 5px;

  /* need absolute positioning to display on top of the image */
  position: absolute;
  bottom: 10%;

  /* this is to get it centered in parent even though position is absolute */
  left: 50%;
  transform: translateX(-50%);

  /* initially hide. see :hover above where this is changed */
  opacity: 0;
  transition: opacity 0.5s;
}

.episode-title {
  /* handle text too wide */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.season-episode {
  display: flex;
  flex-flow: row nowrap;
  font-size: small;
  justify-content: space-around;

  color: var(--dark-color);
}

.season-num {
  font-weight: normal;
}

.episode-num {
  font-weight: bold;
}

.grayed-episode {
  /*background-color: burlywood;*/
  rotate: -5deg;
}

/* Hide Series, Add to Favs */
.episode-details-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;

  font-size: medium;

  z-index: 10;
  /*align-items: center;*/
  /*justify-content: space-evenly;*/
}

.episode-details-links a {
  text-decoration: none;
  margin-right: 10px;
}


/**********************************************************/
/*        SETTINGS PAGE                                   */
/**********************************************************/
.customSlider {
  max-width: 80%;
  max-height: 60px;
  margin-left: 10px;
}

.customSlider-track {
  top: 8px;
  height: 4px;
  background: var(--track-color);
}

.customSlider-track.customSlider-track-0 {
  background: var(--main-color);
}

.customSlider-thumb {
  cursor: pointer;
  /*color for the thumb */
  background: var(--main-color);
  /* shape of the thumb: circle */
  width: 20px;
  height: 20px;
  border-radius: 100%;
  /* remove default outline when selected */
  outline: none;
}

.customSlider-thumb:hover {
  box-shadow: 0 0 0 8px var(--main-color-hover);
}

.customSlider-mark {
  cursor: pointer;
  top: 6px;
  width: 1.5px;
  height: 8px;
  background-color: var(--mark-color);
}

.customSlider-mark.customSlider-mark-before {
  background-color: var(--main-color);
}

.customSlider-mark.customSlider-mark-active {
  display: none;
}
